#signup {
  display:block;
}

#blog {
  display:none !important;
}

.eventbtn {
  padding:1.25% 2% 1.25% 2%;
  font-size:15px;
  text-decoration:none;
  font-weight:normal;
  border: none;
  margin-left:1%;
  margin-right:1%;
  width:13%;
  border-radius:24px;
}

#btnsign {
  background-color:#78CDD5;
  color:white;
}

#btnblog {
  background-color:whitesmoke;
  color:#888;
}
