#signup {
  display:block;
  height:84%;
}

#blog {
  display:none;
  height:84%;
}

.eventbtn {
  padding:1.25% 2% 1.25% 2%;
  font-size:15px;
  text-decoration:none;
  font-weight:normal;
  border: none;
  margin-left:1%;
  margin-right:1%;
  width:13%;
  border-radius:24px;
}

#btnsign {
  background-color:#78CDD5;
  color:white;
}

#btnblog {
  background-color:whitesmoke;
  color:#999;
}

.eventpost {
  height: 50%;
  background-color:#eee;
  color:#555;
  padding:5%;
  size:60px;
  text-align:center;
}

.blogpost h1{
  color:#555;
  font-weight:600;
}

.blogpost hr{
  width: 1px solid #ddd;
}

.blogpost img {
  height: 25vh;
  image-orientation: from-image;
}
